common --enable_platform_specific_config

build --enable_bzlmod
build --compilation_mode=fastbuild

build:linux --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build:linux --cxxopt=-fsized-deallocation
build:linux --copt=-Wno-deprecated-declarations

# you will typically need to spell out the compiler for local dev
# BAZEL_VC=<install directory>
# BAZEL_VC_FULL_VERSION=14.44.3520
build:msvc --cxxopt="-std:c++20" --cxxopt="-utf-8" --host_cxxopt="-std:c++20"
build:msvc --define=protobuf_allow_msvc=true
build:msvc --test_tag_filters=-benchmark,-notap,-no_test_msvc
build:msvc --build_tag_filters=-no_test_msvc

test --test_output=errors

# Enable matchers in googletest
build --define absl=1

build:asan --linkopt -ldl
build:asan --linkopt -fsanitize=address
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER=1
build:asan --copt -D__SANITIZE_ADDRESS__
build:asan --test_env=ASAN_OPTIONS=handle_abort=1:allow_addr2line=true:check_initialization_order=true:strict_init_order=true:detect_odr_violation=1
build:asan --test_env=ASAN_SYMBOLIZER_PATH
build:asan --copt -O1
build:asan --copt -fno-optimize-sibling-calls
build:asan --linkopt=-fuse-ld=lld

try-import %workspace%/clang.bazelrc
try-import %workspace%/user.bazelrc
try-import %workspace%/local_tsan.bazelrc
